
<ul class="popular-posts">
    <li>
        <a href="#"><img src="/img/user-avatar1.jpg" alt="Popular Post"></a>
        <h6><a href="#">Mr. Zhang</a></h6>
        <em>Posted on 09/01/15</em>
    </li>
</ul>
<h5 class="title-bg">菜单</h5>
<ul class="post-category-list">
    <li><a href="#"><i class="icon-plus-sign"></i>发表博文</a></li>
    <li><a href="#"><i class="icon-plus-sign"></i>提出话题</a></li>
    <li><a href="#"><i class="icon-refresh"></i>更新资料</a></li>
</ul>
