@{
    ViewBag.Title = "新闻列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--页面主题开始-->
<div class="container leftcontain">
    <!--左侧信息-->
    <div class="col-lg-8 incontent">
        <div class="articlelist">
            <h3 class="title">
                <strong>国内资讯</strong>
                <div style="float: right;">
                    <a class="tag" href="#">国内资讯</a>
                    <a class="tag" href="#">国内资讯</a>
                    <a class="tag" href="#">国内资讯</a>
                    <a class="tag" href="#">国内资讯</a>
                    <a class="tag" href="#">国内资讯</a>
                </div>
            </h3>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
            <article class="articles">
                <head>
                    <h2>需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</h2>
                </head>
                <p class="publishtime">山外的鸭子哥 发布于 6小时前</p>

                <p class="artsmimg">
                    <a class="thumbnail" href="http://www.landiannews.com/archives/18686.html" target="_blank">
                        <img class="thumb"
                             data-original="/images/IC580765.jpg"
                             src="/images/IC580765.jpg"
                             style="display: inline;">
                    </a>
                </p>

                <p class="dsummary">
                    由于Windows ADK都是版本之间必须对应的，所以不少同学升级Windows 10后找不到Windows 10 版的ADK而无法使用VAMT。
                    不过现在微软已经发了Windows ADK for
                    Windows 10，
                    所以可以下载安装部署一下了。 已经安装SQL的不需要再安装...
                </p>

                <p class="comments">
                    <span style="margin-right: 20px">评论(<em>20</em>)</span>
                    <a data-event="like" data-pid="18686" class="post-like" href="javascript:;">
                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>0</span>)
                    </a>
                </p>
            </article>
        </div>
        <div class="pagecon">
            <nav>
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--右侧信息-->
    <div class="col-lg-4">
        <!--广告模块-->
        <div class="ritempan lefadv">
            <a href="#" class="thumbnail">
                <img src="images/aa.png" alt="广告">
            </a>
        </div>
        <!--热门阅读模块 8条-->
        <div class="ritempan hotread">
            <h3 class="title"><strong>热门资讯</strong></h3>
            <ul>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="thumbnail hotreadimg"><img src="images/aa.png" alt="广告"></span>
                        <span class="text">需要使用批量激活管理工具（VAMT）的请注意：微软已发布Windows 10版的ADK</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--最新评论模块 5条-->
        <div class="ritempan newcomment">
            <h3 class="title"><strong>他们都在说</strong></h3>
            <ul>
                <li class="ds-comment ds-show-avatars">
                    <div class="ds-thread-title">阿信&nbsp;在<a href="#">自用代理分享：剩余约160G流量//8月4日密码变更</a> 中评论：</div>
                    <div class="ds-excerpt">看下。。。</div>
                </li>
                <li class="ds-comment ds-show-avatars">
                    <div class="ds-thread-title">阿信&nbsp;在<a href="#">自用代理分享：剩余约160G流量//8月4日密码变更</a> 中评论：</div>
                    <div class="ds-excerpt">看下自用代理分享：剩余约160G流量//8月4日密码变更。。。</div>
                </li>
                <li class="ds-comment ds-show-avatars">
                    <div class="ds-thread-title">阿信&nbsp;在<a href="#">自用代理分享：剩余约160G流量//8月4日密码变更</a> 中评论：</div>
                    <div class="ds-excerpt">看下。。。</div>
                </li>
                <li class="ds-comment ds-show-avatars">
                    <div class="ds-thread-title">阿信&nbsp;在<a href="#">自用代理分享：剩余约160G流量//8月4日密码变更</a> 中评论：</div>
                    <div class="ds-excerpt">看下。。。</div>
                </li>
                <li class="ds-comment ds-show-avatars">
                    <div class="ds-thread-title">阿信&nbsp;在<a href="#">自用代理分享：剩余约160G流量//8月4日密码变更</a> 中评论：</div>
                    <div class="ds-excerpt">看下。。。</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--页面主体结束-->
